@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}
@using System.Data;

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Issues</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#"> <i class="icon-home"></i> </a>
                </li>
                <li class="separator"><i class="icon-arrow-right"></i></li>
                <li class="nav-item"><a href="#">Issues</a></li>
                <!-- <li class="separator"><i class="icon-arrow-right"></i></li> -->
                <!-- <li class="nav-item"><a href="#">Basic Tables</a></li> -->
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Issue List </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="multi-filter-select"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Room Number</th>
                                        <th>Building Number</th>
                                        <th>Person Name</th>
                                        @* <th>Salary</th> *@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        @* <th>Salary</th> *@

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            <td>@dr["Issue_ImgPath"]</td>
                                            <td>@dr["Issue_Description"]</td>
                                            <td>@dr["Room_Number"]</td>
                                            <td>@dr["Hostel_Building_Number"]</td>
                                            <td>@dr["Person_Name"]</td>
                                            <td>
                                                @{
                                                    if (Convert.ToInt32(dr["Issue_Status"]) == 0)
                                                    {
                                                        <div class="form-button-action">
                                                            <form id="deleteForm-@dr["Id"]" method="post" asp-area="PG_Issues" asp-controller="PG_Issues" asp-action="UpdateStatus" asp-route-Issue_Id="@dr["Id"]">
                                                                <input type="hidden" name="Id" value="@Convert.ToInt32(dr["Id"])" />
                                                                <button class="btn btn-warning"
                                                                        onclick="confirmDelete('@dr["Id"]')"
                                                                        type="button">

                                                                    <span class="btn-label">
                                                                        <i class="fa fa-exclamation-circle"></i>
                                                                    </span>
                                                                    Is Resolve?
                                                                </button>

                                                            </form>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-success" disabled>
                                                            <span class="btn-label">
                                                                <i class="fa fa-check"></i>
                                                            </span>
                                                            Resolved
                                                        </button>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    function confirmDelete(OwnerId) {
        Swal.fire({
            title: 'Are you sure?',
            text: `Issue is resolve right?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form for the specific adminId
                document.getElementById(`deleteForm-${OwnerId}`).submit();
            }
        });
    }

    $(document).ready(function () {
        var message = '@TempData["Message"]';
        var alertType = '@TempData["AlertType"]';

        if (message) {
            Swal.fire({
                icon: alertType,
                title: message,
                showConfirmButton: true
            }).then((result) => {
                // Reload the page after the alert is confirmed
                if (result.isConfirmed) {
                    location.reload();
                }
            });
        }
    });

</script>
